__pycache__/model.cpython-310.pyc
__pycache__/data.cpython-310.pyc
__pycache__/visualization.cpython-310.pyc
__pycache__/compilation.cpython-310.pyc
__pycache__/preprocessing.cpython-310.pyc
hidden_repr.gif
