__pycache__/model.cpython-310.pyc
__pycache__/data.cpython-310.pyc
__pycache__/visualization.cpython-310.pyc
__pycache__/compilation.cpython-310.pyc
__pycache__/preprocessing.cpython-310.pyc
data_analysis/__pycache__/visualization.cpython-310.pyc
data_analysis/automata.py
data_analysis/__pycache__/automata.cpython-310.pyc
main.ipynb.981b471c687738f32d38b48c9d2af13e.tmp
main.ipynb.b32d577b2bb6985f9201f7fbd1333a7e.tmp
data_analysis/visualization/__pycache__/animation.cpython-310.pyc
.gitignore
data_analysis/visualization/__pycache__/automata.cpython-310.pyc
data_analysis/visualization/__pycache__/visualization.cpython-310.pyc
data_analysis/visualization/__pycache__/activations.cpython-310.pyc
main.ipynb.1090e1fb10bf8ba6263872e0c6062a6e.tmp
data_analysis/visualization/__pycache__/basic_plotting.cpython-310.pyc
animation.gif
data_analysis/visualization/__pycache__/epochs.cpython-310.pyc
.gitignore
