*.pyc
*.pdf
plots
.gitignore
stock-news/trained_rnn.pt
stock-news/data
stock-news/working/finance_news.txt
addition/model.pt

.env
.DS_Store
__pycache__/
wandb/
outputs/
.gitignore
output.png
theory/ODE.ipynb:Zone.Identifier
theory/simple_theory_system.pdf
theory/simple_theory_system.pdf
theory/simple_theory_system.pdf
theory/simple_theory_system.pdf
